* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace,  -apple-system;
  font-weight: 270;
}

.App {}

header {}

main {}

footer {}
